<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqKReMHpCoYWKhcmATU_SWKNe5ibCzXjc</string>
	<key>GCM_SENDER_ID</key>
	<string>700925272298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.citgroupvn.efood.efoodtable.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cit-ecommerce-vn</string>
	<key>STORAGE_BUCKET</key>
	<string>cit-ecommerce-vn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700925272298:ios:63ce75947b6940ef4db793</string>
	<key>DATABASE_URL</key>
	<string>https://cit-ecommerce-vn-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>